# Environment
NODE_ENV=your_node_env

# Server
PORT=your_app_port

# Database
DATABASE_URL=your_database_url
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_DB=your_db

# JWT Configuration
JWT_SECRET=your_jwt_secret