# Environment
NODE_ENV=your_node_env

# Server
PORT=your_app_port

# Database
DATABASE_URL=your_database_url
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_DB=your_db

# JWT Configuration
JWT_SECRET=your_secret_here
JWT_EXPIRES_IN=1d

# OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_secret
APPLE_CLIENT_ID=your_apple_client_id
APPLE_CLIENT_SECRET=your_apple_secret

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret