# Environment
NODE_ENV=your_node_env

# Server
PORT=your_app_port

# Database
DATABASE_URL=your_database_url

# JWT Configuration
JWT_SECRET=tu_secreto_aqui
JWT_EXPIRES_IN=1d
GOOGLE_CLIENT_ID=tu_cliente_id_google
GOOGLE_CLIENT_SECRET=tu_secreto_google
APPLE_CLIENT_ID=tu_cliente_id_apple
APPLE_CLIENT_SECRET=tu_secreto_apple